* {
    box-sizing: border-box;
}
:root {
    --primary: #9DBAD1;
    --secondary: #1D4261;
    --tertiary: #3477AD;
    --dark: #003157;
    --light: #6EB5EB;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
    color: var(--secondary);
    background-color: var(--light);
}

h1,
h2,
h3 {
    margin: 0;
}

p {
    margin: 0;
}

header {
    display: flex;
    flex-direction: row ;
    justify-content: space-evenly;
    padding: 10px 7%;
    flex-wrap: wrap;
    align-items:center;
    box-shadow: 0 5px 35px var(--dark);
    background-color: var(--primary);
}

header h1 {
    align-self:center;
    color: var(--primary);
    background-color: var(--dark);
    padding: 5px 16%;
    margin: 0 140px;
    font-size: 4vw;
    line-height: 1.25;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

nav a {
    text-decoration: none;
    padding: 5px 12px;
    margin: 10px 26px;
    font-size: 2.5vw;
    color: var(--dark);
    background-image: linear-gradient(30deg, var(--dark) 0%, var(--dark) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: bottom ;
    transition: all 0.25s ease-in;
}

nav a:hover {
    background-size: 100% 100%;
    color: var(--primary)
}

main {
    margin-top: 20px;
    margin-bottom: 45px;
}

.hero-banner {
    background: var(--dark);
    background-image: url(../images/preview.jpg), linear-gradient(30deg, var(--dark) 0%, var(--dark) 100%);
    background-size: contain ;
    background-position:center;
    background-repeat: no-repeat;
    min-height: 30vh;
    display: flex;
    justify-content: center;
    padding: 2% 6%;
}

.hero-banner div {
    flex: 0 0 90%;
}

.hero-banner h2 {
    color: var(--primary);
    padding: 1%;
    margin-left: -13%;
    justify-content: flex-start;
    align-content: flex-start;
    font-size: 2rem;
    line-height: 1.1;
    display: inline;
}

.page-wrapper {
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.page-section {
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

.page-section > h2 {
    flex: 0 0 20%;
    text-align: right;
    padding-right: 15px;
    border-right: 4px solid var(--tertiary);
    font-size: 5vw;
    line-height: 1.1;
}

.page-section > div {
    flex: 0 0 75%;
}

.page-section p {
    margin-bottom: 20px;
    color: var(--secondary);
    font-weight: bolder;
    font-size: 1.75em;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-item {
    border: 4px solid var(--tertiary);
    background-color: var(--dark);
    color: var(--primary);
    min-height: 125px;
    max-height: 125px;
    display: flex;
    flex-basis: 47%;
    align-items: center;
    padding: 10px 0;
    margin: .25em;
    background-size: 150%;
    transition: all 0.5s;
    font-size: 1rem;
}

.flex-item:first-child {
    min-height: 350px;
    flex-basis: 100%;
}

.flex-item:hover {
    background-color: var(--light);
    color: var(--dark);
}

.flex-item h3 {
    font-size: 1.75rem;
}

.contact h2 {
    margin-left: -42px;
}

.contact address {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.contact address a {
    color: var(--dark);
    padding: 10px;
    text-decoration: none;
    font-size: 2.7rem;
    font-style: italic;
    background-image: linear-gradient(30deg, var(--dark) 0%, var(--dark) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: bottom;
    transition: all 0.25s ease-in;
    display: inline-block;
}

.contact address a:hover {
    background-size: 100% 100%;
    color: var(--primary)
}

/* .project1 {
    /* background-image: url(https://via.placeholder.com/1500x1000); */
/* } */

/* .project2 { */
    /* background-image: url(https://via.placeholder.com/1500x1000); */
/* } */

/* .project3 { */
    /* background-image: url(https://via.placeholder.com/1500x1000); */
/* } */

/* .project4 { */
    /* background-image: url(https://via.placeholder.com/1500x1000); */
/* } */

/* .project5 { */
    /* background-image: url(https://via.placeholder.com/1500x1000); */
/* } */

@media screen and (max-width: 980px) {
    header {
        padding: 5px;
        justify-content: center;
        text-align: center;
    }
  
    header h1 {
      width: 100%;
      padding: 5px ;
      margin-bottom: 10px;
      font-size: 7vw;
    }
  
    header nav {
      justify-content: center;
    }
    
    .hero-banner h2 {
        background-color: var(--primary);
        color: var(--secondary);
        font-size: .98em;
    }

    .page-section > h2,
    .page-section > div {
      flex: 0 0 100%;
    }
  
    .page-section > h2 {
      border-right: none;
      border-bottom: 4px solid var(--tertiary);
      margin-bottom: 20px;
      padding-bottom: 10px;
      text-align: left;
      font-size: 7vw;
    }
    .flex-item {
        flex-basis: 47%;
    }
  }
  
  @media screen and (max-width: 768px) {
    .flex-item,
    .flex-item:first-child {
      flex-basis: 100%;
    }
  
    .flex-item:first-child {
      min-height: 200px;
    }
  
    .hero-banner {
      justify-content: center;
      text-align: center;
    }
  
    .contact address {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  