* {
    box-sizing: border-box;
}
:root {
    --primary: #9DBAD1;
    --secondary: #1D4261;
    --tertiary: #3477AD;
    --dark: #003157;
    --light: #6EB5EB;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
    color: var(--secondary);
    background-color: var(--light);
}

h1,
h2,
h3 {
    margin: 0;
}

p {
    margin: 0;
}

header {
    display: flex;
    flex-direction: row ;
    justify-content: space-evenly;
    padding: 10px 7%;
    flex-wrap: wrap;
    align-items:center;
    box-shadow: 0 5px 35px var(--dark);
    background-color: var(--primary);
}

header h1 {
    align-self:center;
    color: var(--primary);
    background-color: var(--dark);
    padding: 5px 16%;
    margin: 0 140px;
    font-size: 4vw;
    line-height: 1.25;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

nav a {
    text-decoration: none;
    padding: 5px 12px;
    color: var(--light);
    margin: 10px 26px;
    font-size: 2.5vw;
    color: var(--dark);
    background-image: linear-gradient(30deg, var(--dark) 0%, var(--dark) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: bottom ;
    transition: all 0.25s ease-in;
}

nav a:hover {
    background-size: 100% 100%;
    color: var(--primary)
}

main {
    margin-top: 20px;
    margin-bottom: 45px;
}

.banner {
    background: var(--dark);
    background-image: url(/Assets/images/preview.jpg);
    background-size: cover;
    background-position:center;
    min-height: 30vh;
    display: flex;
}
.banner h2 {
    background-color: var(--dark);
    color: var(--primary);
}